@import 'colors.css'; /* Import colors */


/* Inner Container */
.inner-container {
  align-self: center;
  background-color: rgb(255, 255, 255);
  height: 80vh;
  width: 100%;
  border-radius: 26px;
  margin-top: 16px;
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden;
  padding: 20px; /* Optional: add some padding for aesthetics */
}

/* Hide scrollbar */
.inner-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.inner-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Logo and Icons */
.logo-icon {
  width: 68px;
  height: 76px;
  margin-bottom: 20px;
}

.nav-icon,
.nav-icon-dash {
  width: 20px;
  height: auto;
  margin-right: 10px;
}

.nav-icon-dash {
  filter: invert(100%);
}

/* Hide scrollbar */
.navigation-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

/* Headings */
h2 {
  margin-bottom: 40px;
}

/* Navigation Option Styles */
.nav-option {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
  height: 33px;
  color: white;
  font-size: 20px;
  padding: 8px 12px;
}

.nav-option:hover,
.selected {
  background-color: white;
  color: black;
  border-radius: 20px;
  width: max-content;
}

.nav-option:hover .nav-icon,
.selected .nav-icon {
  filter: invert(100%);
}

/* Main Content */
.main-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  overflow-y: auto;
  overflow-x: hidden;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .navigation-container {
    width: 100%;
    height: auto;
    padding: 20px;
  }

  .nav-option {
    padding: 8px 12px;
  }

  .selected {
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 10px 12px;
    width: max-content;
  }

  .main-content {
    height: 70vh;
    overflow-y: auto;
  }
}
